{% extends 'base.html' %}
{% block title %}About Us{% endblock %}

{% block content %}

<div class="hero-image text-white text-center d-flex align-items-center justify-content-center fade-in" style="background-image: url('https://images.unsplash.com/photo-1668884405041-aa8963908538?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0'); background-size: cover; background-position: center; height: 80vh;">
  <div class="bg-dark bg-opacity-50 p-5 rounded">
    <h1 class="display-4">Our Story</h1>
    <p class="lead">Soni's Coffee Shop was born from a simple love for good coffee and great atmosphere. We opened our doors in 2024 with one mission: to create a cozy space where people can enjoy their favorite drinks, feel at home, and unwind.</p>
    <p class="lead">We're not just about coffee – we’re about community, comfort, and connection. From bold espressos to smooth matcha lattes, everything is crafted with care and passion. Come for the coffee, stay for the warmth!</p>
  </div>
</div>


<section class="py-5 bg-light fade-in">
  <div class="container text-center">
    <h2 class="mb-4">Contact Us</h2>
    <p class="mb-2">📍 Coffee Street, Tirana, Albania</p>
    <p class="mb-2">📞 +355 69 123 4567</p>
    <p>📧 contact@soniscoffee.al</p>
  </div>
</section>
{% endblock %}
