{% extends 'base.html' %}
{% block content %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
<h2 class="mb-4">Our Menu</h2>

<div class="d-flex justify-content-between align-items-center mb-3 fade-in">
      </div>
  

<div class="mb-4">
    <a href="{% url 'menu' %}" class="btn category-btn {% if not selected_category %}active{% endif %}">Show All</a>
    {% for category in categories %}
    <a href="?category={{ category.id }}{% if search_query %}&search={{ search_query }}{% endif %}" class="btn category-btn {% if selected_category and selected_category.id == category.id %}active{% endif %}">
        {{ category.name }}
    
    </a>
    {% endfor %}
</div>




<div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ product.image_url }}" class="card-img-top fade-in" alt="{{ product.name }}" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title fade-in">{{ product.name }}</h5>
                <p class="card-text fade-in" >{{ product.description }}</p>
                <p><strong>${{ product.price }}</strong></p>
                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <input type="number" name="quantity" min="1" value="1" class="form-control mb-2" required>
                    <button class="btn btn-primary w-100">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
